.main__section {
  color: $white;
  .content {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    &__item {
      padding: 0px 20px;
    }
    &__text {
      max-width: 550px;
      .h3 {
        font-size: 76px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 25px;
      }
      .p {
        font-size: 30px;
        letter-spacing: 1.1;
      }
    }
    &__visual {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      max-width: 550px;
      .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
      }
    }
  }
}
